.textDescription {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:100;
  font-size: 28px;

}

 h1{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0a0e28;
  color: #ffffff;
  display: flex;
  flex-direction: column; /* Permite que el cuerpo sea una columna */
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
  
}

.description {
  text-align: center; /* Centra el texto */
  margin: 20px auto;
  width: 60%;
  padding: 20px;
  border-radius: 20px;
  color: #ffffff;
}

.divider {
width: 124%; 
height: 2px; 
background-color: #ffffff; 
margin: 40px -130px; 
}

.subirArchivo{
display: flex;
flex-direction: column;
margin: 10px;
align-items: center;
}

#enviarArchivo {
  width: 200px; 
  height: 50px; 
  font-size: 25px;
}

.logoPortada{
  background-image: url('/images/logo.png');
  height: 150px; /* Altura del logo */
  width: 150px; /* Ancho del logo */
  margin-left: 100px;
  background-size: cover; /* Mantiene la proporción de la imagen */
  background-position: center; /* Centra la imagen dentro del div */
  background-position: center;
}

.btn {
  background-color: #1f264e;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.title {
  display: flex; /* Usa flexbox para el layout */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  gap: 80px; /* Espacio entre el logo y el título */
  font-size: 50px; /* Tamaño de fuente */
  margin-top: -40px; /* Márgenes superiores e inferiores (40px) */
  margin-bottom: 20px;
  color: #ffffff; /* Color del texto */
  flex-wrap: nowrap; /* Evita que el contenido se envuelva en la siguiente línea */
  
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.loading-icon {
  border: 8px solid #f3f3f3; /* Gris claro */
  border-top: 8px solid #3498db; /* Color del borde de carga */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





.login-right {
  width: 45%;
  background-color: #2a2d3e;
  padding: 20px;
  border-radius: 10px;
}

.popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2a2d3e;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  height: 300px;
  width: 500px;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

h2 {
font-family: "Bungee", sans-serif;
font-weight: 400;
font-style: normal;
margin-bottom: 45px;
font-size: 40px;
}

p{
font-family: Arial, sans-serif;
margin-bottom: 45px;
font-size: 22px;
}

.success-message {
position: fixed;
top: 220px; /* Espacio desde la parte superior */
left: 42%; /* Centrar horizontalmente */

background-color: #1f264e;
color: white;
border-radius: 8px;
padding: 15px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
width: 300px;
opacity: 0;
animation: fadeInOut 5s forwards;
z-index: 1000;
}

.message-content h3 {
margin: 0;
font-size: 18px;
}

.message-content p {
margin: 10px 0;
}

.message-content button {
background: white;
color: #1f264e;
border: none;
border-radius: 5px;
padding: 5px 10px;
cursor: pointer;
}

.popup-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1a3b;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  z-index: 1000;
}

.message-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.message-content p {
  font-size: 14px;
}

.message-content button {
  margin-top: 15px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: #1a1a3b;
  color: #fff;
  cursor: pointer;
}

.message-content button:hover {
  background-color: #45a049;
}

.success-message {
  background-color: #1a1a3b;
  position: fixed;
  left:800px;
}

.error-message {
  background-color: #a93c3c;
}


@keyframes fadeInOut {
0% {
  opacity: 0;
  transform: translateY(-20px);
}
10%, 90% {
  opacity: 1;
  transform: translateY(0);
}
100% {
  opacity: 0;
  transform: translateY(-20px);
}


}
