.equipo {
    background-color: #13173d;
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: auto; /* Mueve el div hacia abajo */
  }

  .equipo-contenido {
    display: flex;
    justify-content: space-around;
    gap: 10px; /* Ajusta el espacio entre columnas */
}

  .equipo-columna {
    background-color: #4d7fe0;
    padding: 5px; /* Reduce el padding */
    border-radius: 10px;
    text-align: center;
    width: 25%; /* Reduce el ancho si es necesario */
}

  .team-section {
    text-align: center;
    margin-top: 50px;
  }

  .team-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .team {
    display: flex;
    justify-content: center;
    color: white;
    gap: 40px;
  }

  .team-column {
    background-color: #4d7fe0;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
  }

  .team-column h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .team-column p {
    font-size: 16px;
  }